<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/HPuser.css"> 
    <link rel="icon" href=<%= pp%> type="image/png">
    <title><%= name %></title>
</head>
<body>
    <h1><%= name %></h1>
    <a href="/user/<%= name %>/fluid/<%=txt%>" download="flag.txt">Download</a>
    <br>
    <br>
    <form action="/upload/<%= name %>" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file" required />
        <br>
        <input type="submit" value="Send" />
    </form>

</body>
</html>