<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/HPuser.css"> 
    <link rel="icon" href=<%= pp%> type="image/png">
    <title><%= name %></title>
</head>
<body>
    <h1><%= name %></h1>
    <a>Download</a>
    <br>
    <br>
    <form action="/upload/<%= name %>" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file" required />
        <br>
        <input type="submit" value="Send" />
    </form>
    <br>
    <ul>
        <%if (datafile.length == 0) { %>
            <li>No files</li>
        <% } else {
         for(let key in datafile) { %>
            <li id="<%= key %>"><a href="/<%= name %>/file/<%= key + datafile[key]['extention']%>" download><%= datafile[key]["name"] %></a></li>
        <% }} %>
    </ul>

</body>
</html>